body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(151, 151, 151, 0.05);
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
}

.logo img {
    height: 75px;
}

nav .menu {
    display: flex;
}

nav .menu li a {
    display: flex;
    height: 40px; 
    margin: 0px;
    padding: 0px 22px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
}

nav .menu li a:hover {
    background-color: #242424;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 10px 20px rgba(53, 53, 53, 0.3);
    transition: all ease 0.3s;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 20px;
    padding: 0px 20px;
}

.search input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;

}

.search i {
    color: #3a3a3a;
}

