body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(189, 189, 189, 0.05);
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
}

.logo img {
    height: 75px;
}

nav .menu {
    display: flex;
}

nav .menu li a {
    display: flex;
    height: 40px; 
    margin: 0px;
    padding: 0px 22px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
}

nav .menu li a:hover {
    background-color: #242424;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 10px 20px rgba(53, 53, 53, 0.3);
    transition: all ease 0.3s;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 20px;
    padding: 0px 20px;
}

.search input {
    width: 100%;
    height: 30px;
    border: none;
    background-color: transparent;
}

.search i {
    color: #3a3a3a;
}

.latest-container {
    margin-top: 30px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
}

.latest-container h1 {
    font-size: 1.5rem;
    margin-left: 20px;
    padding-top: 10px;
}

.latest-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 20px; 
}

.latest-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin: 20px 10px 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 240px;
    background-color: #fff;
}

.latest-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-box h2 {
    font-size: 1.0rem;
    margin-bottom: 0px;
}

.latest-box p {
    margin-top: 0px;
    color: #494949;
}

.latest-box button {
    border: 2px solid rgba(233, 82, 71, 0.6);
    background: #fff;
    color: #494949;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 10px;
}

.latest-box button:hover {
    background: rgba(233, 82, 71, 0.6);
    color: #fff;
    border: none;
    font-weight: 700;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);;
    transition: all ease 0.4s;
}

.popular-container {
    margin-top: 40px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
}

.popular-container h1 {
    font-size: 1.5rem;
    margin-left: 20px;
    padding-top: 10px;
}

.popular-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 20px; 
}

.popular-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.popular-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.popular-box a {
    text-align: center;
    display: block;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
}

.popular-box:hover {
    transform: translateY(-12px);
    transition: all ease 0.4s;
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btns a {
    width: 150px;
    height: 50px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-color: #3963f0;
    font-size: 1.2rem;
}

.nav-btns a:hover {
    background-color: #284fd1;
}

.tvshows-container {
    margin-top: 40px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
}

.tvshows-container h1 {
    font-size: 1.5rem;
    margin-left: 20px;
    padding-top: 10px;
}

.tvshows-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 20px; 
}

.tvshows-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.tvshows-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.tvshows-box a {
    text-align: center;
    display: block;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
}

.tvshows-box:hover {
    transform: translateY(-12px);
    transition: all ease 0.4s;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
}